/* Блок Hero */

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/icon/hero_img.jpg);
    background-color: #2f303a;
    background-position: center;
    background-size: cover;
  
    height: 600px;
    text-align: center;
    padding-top: 200px;
  }
  

