.conteiner {
  display: block;
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  .header & {
    display: flex;
    align-items: center;
    height: 80px;
  }
 
  .footer & {
    display: flex;
  }
}